.parent {
    height: 40rem;
    width: 40rem;
    position: relative;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gridbox {
    font-size: 5rem;
    text-align: center;
    background-color: beige;
    height: 9rem;
    width: 9rem;
    margin-right: 1rem;
}

#shuffle {
    left: 20%;
    top: 50%;
    position:absolute;
}